* {
    background-color: white;
}

.post {
    width: 100%;
    height: auto;
    border-color: lightgray;

}

.header {
    padding: 10px;
    border: 1px solid lightgrey
}


span.icons {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form-label {
    display: flex;
    justify-content: left;
}

span.photo-maps {
    display: flex;
    justify-items: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5px;

}

.view {
    margin-top: none;
    border-left: none;
    border-right: none;
    
}

.card {
    margin-top: 2rem;
    width: auto;
    height: auto;
    border: 1px solid lightgrey
}

.body {
    border: 1px solid lightgrey
}

.container-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
}

.container-album1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: none;
}

.container-album {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}









